{{- with site.Params.homeInfoParams }}
<article class="first-entry home-info">
    <header class="entry-header">
        {{ with site.Params.profileImage }}
        <div style="float: left;">
            <img class="profileImage" src="{{ site.Params.profileImage }}">
        </div>
        {{ end }}
        <div style="float: left;">
            <h1 style="line-height: 150px; margin-left: 25px;">{{ .Title | markdownify }}</h1>
        </div>
    </header>
    <div class="entry-content">
        {{ .Content | markdownify }}
    </div>
    <footer class="entry-footer">
        {{ partial "social_icons.html" (dict "align" site.Params.homeInfoParams.AlignSocialIconsTo) }}
    </footer>
</article>
{{- end -}}
