<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="https://twitter.com/matthewjamesr">Twitter</a></li>
	        		<li><a href="https://github.com/matthewjamesr">Github</a></li>
	        		<li id="donate">
				        <span class="wrapper" style="width: 108px">
				          <img src="paypal.png">
				          <a href="https://paypal.me/Reichardt/5">Buy me a coffee</a>
				        </span>
				</li>
			</ul>
			</footer>
		</body>
	</html>
