<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="stylesheet" type="text/css" href="../node_modules/milligram/dist/milligram.min.css">
			<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
			<script type="text/javascript" src="../node_modules/vue/dist/vue.min.js"></script>
			<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/0.1.16/vue-resource.min.js"></script>
		</head>
		<body>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
	    		<ul id="social">
	        		<li>
	        			<a href="https://twitter.com/matthewjamesr" class="twitter-follow-button" data-show-count="false">Follow @matthewjamesr</a>
					<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
	        		</li>
	        		<li>
					<a class="github-button" href="https://github.com/matthewjamesr" aria-label="Follow @matthewjamesr on GitHub">Follow @matthewjamesr</a>
	        		</li>
	        		<li id="donate">
				        <span class="wrapper" style="width: 108px">
				          <img src="paypal.png">
				          <a href="https://paypal.me/Reichardt/5">Buy me coffee</a>
				        </span>
				</li>
			</ul>
			</footer>

			<script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>

		</body>
	</html>
